<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="self.fzh.web.mapper.CustomerMapper" >
    <resultMap id="BaseResultMap" type="self.fzh.web.dao.Asset" />

    <select id="queryDistinctCategory" resultType="java.lang.String">
        select distinct category from asset a
    </select>

    <select id="queryDistinctDateOrderByTime" resultType="java.lang.String">
        select distinct create_time  from asset a order by create_time
    </select>
</mapper>